In [1]:
import pandas as pd                    # data package
import matplotlib.pyplot as plt        # graphics module  
import datetime as dt                  # date and time module
import numpy as np                     # foundation for pandas

In [23]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"


nba = pd.read_csv(url)

In [24]:
new_name_list = ["Game Number", "ID", "League", "Repeat", "Year", "Game Date", "Season Game Number", "Playoffs", "Team Abv", "Franchise", "Points", "Elo_Start", "Elo End", "Win Equiv", "Opp Abv", "Opp Franchise", "Opp Score", "Opp_Elo_Start", "Opp Elo End", "Game Location", "Game Result", "Forecast", "Notes"]

nba.columns = new_name_list

In [25]:
nba.dtypes

Game Number             int64
ID                     object
League                 object
Repeat                  int64
Year                    int64
Game Date              object
Season Game Number      int64
Playoffs                int64
Team Abv               object
Franchise              object
Points                  int64
Elo_Start             float64
Elo End               float64
Win Equiv             float64
Opp Abv                object
Opp Franchise          object
Opp Score               int64
Opp_Elo_Start         float64
Opp Elo End           float64
Game Location          object
Game Result            object
Forecast              float64
Notes                  object
dtype: object

In [26]:
nba = nba[["Year", "Game Date", "Franchise", "Elo_Start","Opp Franchise", "Opp_Elo_Start", "Game Location", "Game Result"]]
nba = nba[nba["Year"]>=2012].copy()

In [27]:
nba["Elo Difference"] = nba.Elo_Start - nba.Opp_Elo_Start

In [28]:
nba['Game Date'] = pd.to_datetime(nba['Game Date'])
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,A,W,-25.8009
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,H,L,25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,A,W,-39.5384
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,H,L,39.5384
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,H,L,-37.7955

In [29]:
# converting H and A into 1 and 0 for mapping

nba["Game Location"] = nba["Game Location"].str.replace("A","1")
nba["Game Location"] = nba["Game Location"].str.replace("H","0")

# 1 is home
# 0 is away

In [30]:
upsetwins = nba[nba["Game Location"] == "1"].copy()

In [31]:
upsetwins.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116283,2012,2011-12-25,Bulls,1632.1742,Lakers,1594.3787,1,W,37.7955
116284,2012,2011-12-25,Celtics,1596.1472,Knicks,1482.5021,1,L,113.6451
116286,2012,2011-12-25,Magic,1582.5724,Thunder,1620.4620,1,L,-37.8896

In [33]:
upsetwins = upsetwins[upsetwins["Game Result"] == "W"].copy()

In [34]:
upsetwins.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116283,2012,2011-12-25,Bulls,1632.1742,Lakers,1594.3787,1,W,37.7955
116291,2012,2011-12-26,Raptors,1350.1757,Cavaliers,1369.9215,1,W,-19.7458
116292,2012,2011-12-26,Nuggets,1590.4297,Mavericks,1661.7070,1,W,-71.2773

In [46]:
upsetwins = upsetwins[upsetwins["Elo Difference"] < 0]

In [47]:
upsetwins.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116291,2012,2011-12-26,Raptors,1350.1757,Cavaliers,1369.9215,1,W,-19.7458
116292,2012,2011-12-26,Nuggets,1590.4297,Mavericks,1661.7070,1,W,-71.2773
116311,2012,2011-12-26,Nets,1352.2601,Wizards,1371.3854,1,W,-19.1253

In [48]:
grp = upsetwins.groupby("Franchise")

#This is good stuff. Groupby function essentially lets you split the dataframe into small dataframes within the larger data which
#you can call to do operations. So here I split the dataframe into each franchise which lets us not double count games and 
#minimize how much processing we need to use per team

In [49]:
grp.get_group("Bucks")

# so here im pulling the Bucks data specifically. May be worth paring the data down into 2000 onward

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,1,W,-75.9018
117566,2012,2012-03-16,Bucks,1482.9812,Warriors,1509.2937,1,W,-26.3125
118455,2013,2012-11-02,Bucks,1501.1670,Celtics,1586.1121,1,W,-84.9451
118621,2013,2012-11-12,Bucks,1508.5000,Sixers,1551.6627,1,W,-43.1627
118818,2013,2012-11-26,Bucks,1512.1105,Bulls,1571.4832,1,W,-59.3727
119184,2013,2012-12-21,Bucks,1491.0122,Celtics,1538.3230,1,W,-47.3108
119458,2013,2013-01-09,Bucks,1479.9662,Bulls,1554.3053,1,W,-74.3391
120113,2013,2013-02-26,Bucks,1451.3185,Mavericks,1505.0323,1,W,-53.7138
120128,2013,2013-02-27,Bucks,1462.6779,Rockets,1603.8047,1,W,-141.1268
120283,2013,2013-03-09,Bucks,1478.1271,Warriors,1501.0728,1,W,-22.9457
120875,2013,2013-04-17,Bucks,1416.4331,Thunder,1736.2958,1,W,-319.8627
121095,2014,2013-11-01,Bucks,1442.7881,Celtics,1479.7850,1,W,-36.9969
121628,2014,2013-12-06,Bucks,1342.4575,Wizards,1480.4210,1,W,-137.9635
121674,2014,2013-12-10,Bucks,1344.5228,Bulls,1518.8411,1,W,-174.3183
121978,2014,2013-12-31,Bucks,1321.7959,Lakers,1440.5410,1,W,-118.7451
123790,2015,2014-11-04,Bucks,1321.8444,Pacers,1516.1642,1,W,-194.3198
123977,2015,2014-11-16,Bucks,1341.3673,Heat,1566.0238,1,W,-224.6565
124008,2015,2014-11-19,Bucks,1367.5092,Nets,1501.9500,1,W,-134.4408
124124,2015,2014-11-26,Bucks,1373.1659,Timberwolves,1448.8665,1,W,-75.7006
124410,2015,2014-12-15,Bucks,1422.4642,Suns,1524.2839,1,W,-101.8197
124454,2015,2014-12-18,Bucks,1429.1559,Kings,1438.7065,1,W,-9.5506
124554,2015,2014-12-26,Bucks,1421.7290,Hawks,1626.1963,1,W,-204.4673
124642,2015,2014-12-31,Bucks,1476.7334,Cavaliers,1493.2616,1,W,-16.5282
125135,2015,2015-02-02,Bucks,1526.1268,Raptors,1594.8175,1,W,-68.6907
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412

In [50]:
Bucks = grp.get_group("Bucks")

In [51]:
def date_diff(Bucks):
    Bucks["Game Diff"] = Bucks["Game Date"].diff()
    return Bucks

#made a function to calculate the difference in games. Have to use .diff() for the individual teams. Can import this function into
# something bigger to go team by team

In [52]:
date_diff(Bucks)

# The function. The date difference is in the end of the dataframe

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428,NaT
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309,2 days
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,1,W,-75.9018,3 days
117566,2012,2012-03-16,Bucks,1482.9812,Warriors,1509.2937,1,W,-26.3125,51 days
118455,2013,2012-11-02,Bucks,1501.1670,Celtics,1586.1121,1,W,-84.9451,231 days
118621,2013,2012-11-12,Bucks,1508.5000,Sixers,1551.6627,1,W,-43.1627,10 days
118818,2013,2012-11-26,Bucks,1512.1105,Bulls,1571.4832,1,W,-59.3727,14 days
119184,2013,2012-12-21,Bucks,1491.0122,Celtics,1538.3230,1,W,-47.3108,25 days
119458,2013,2013-01-09,Bucks,1479.9662,Bulls,1554.3053,1,W,-74.3391,19 days
120113,2013,2013-02-26,Bucks,1451.3185,Mavericks,1505.0323,1,W,-53.7138,48 days
120128,2013,2013-02-27,Bucks,1462.6779,Rockets,1603.8047,1,W,-141.1268,1 days
120283,2013,2013-03-09,Bucks,1478.1271,Warriors,1501.0728,1,W,-22.9457,10 days
120875,2013,2013-04-17,Bucks,1416.4331,Thunder,1736.2958,1,W,-319.8627,39 days
121095,2014,2013-11-01,Bucks,1442.7881,Celtics,1479.7850,1,W,-36.9969,198 days
121628,2014,2013-12-06,Bucks,1342.4575,Wizards,1480.4210,1,W,-137.9635,35 days
121674,2014,2013-12-10,Bucks,1344.5228,Bulls,1518.8411,1,W,-174.3183,4 days
121978,2014,2013-12-31,Bucks,1321.7959,Lakers,1440.5410,1,W,-118.7451,21 days
123790,2015,2014-11-04,Bucks,1321.8444,Pacers,1516.1642,1,W,-194.3198,308 days
123977,2015,2014-11-16,Bucks,1341.3673,Heat,1566.0238,1,W,-224.6565,12 days
124008,2015,2014-11-19,Bucks,1367.5092,Nets,1501.9500,1,W,-134.4408,3 days
124124,2015,2014-11-26,Bucks,1373.1659,Timberwolves,1448.8665,1,W,-75.7006,7 days
124410,2015,2014-12-15,Bucks,1422.4642,Suns,1524.2839,1,W,-101.8197,19 days
124454,2015,2014-12-18,Bucks,1429.1559,Kings,1438.7065,1,W,-9.5506,3 days
124554,2015,2014-12-26,Bucks,1421.7290,Hawks,1626.1963,1,W,-204.4673,8 days
124642,2015,2014-12-31,Bucks,1476.7334,Cavaliers,1493.2616,1,W,-16.5282,5 days
125135,2015,2015-02-02,Bucks,1526.1268,Raptors,1594.8175,1,W,-68.6907,33 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952,60 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412,24 days

In [53]:
grp.apply(date_diff)

# Here im applying the function to the whole table by franchise. May try to clean this up and see what it looks like to see which
# method is the easiest.

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009,NaT
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384,NaT
116291,2012,2011-12-26,Raptors,1350.1757,Cavaliers,1369.9215,1,W,-19.7458,NaT
116292,2012,2011-12-26,Nuggets,1590.4297,Mavericks,1661.7070,1,W,-71.2773,NaT
116311,2012,2011-12-26,Nets,1352.2601,Wizards,1371.3854,1,W,-19.1253,NaT
116328,2012,2011-12-28,Cavaliers,1356.5503,Pistons,1417.2306,1,W,-60.6803,NaT
116372,2012,2011-12-30,Suns,1469.5493,Pelicans,1521.4115,1,W,-51.8622,NaT
116416,2012,2012-01-02,Hawks,1511.9998,Heat,1681.2399,1,W,-169.2401,NaT
116422,2012,2012-01-02,Raptors,1353.4785,Knicks,1494.7676,1,W,-141.2891,7 days
116436,2012,2012-01-03,Trailblazers,1551.2844,Thunder,1631.7677,1,W,-80.4833,NaT
116457,2012,2012-01-04,Hornets,1396.7030,Knicks,1480.8069,1,W,-84.1039,NaT
116472,2012,2012-01-06,Pacers,1484.4845,Celtics,1585.0734,1,W,-100.5889,NaT
116490,2012,2012-01-06,Nets,1314.9204,Raptors,1377.4865,1,W,-62.5661,11 days
116531,2012,2012-01-09,Pelicans,1459.5466,Nuggets,1627.1429,1,W,-167.5963,NaT
116593,2012,2012-01-12,Cavaliers,1388.7028,Suns,1510.4019,1,W,-121.6991,15 days
116596,2012,2012-01-13,Pistons,1367.5466,Hornets,1377.8268,1,W,-10.2802,NaT
116607,2012,2012-01-13,Timberwolves,1357.9658,Pelicans,1476.8467,1,W,-118.8809,NaT
116611,2012,2012-01-13,Nets,1324.6429,Suns,1489.4724,1,W,-164.8295,7 days
116639,2012,2012-01-15,Jazz,1475.0908,Nuggets,1613.2615,1,W,-138.1707,NaT
116693,2012,2012-01-18,Suns,1463.7856,Knicks,1481.6353,1,W,-17.8497,19 days
116694,2012,2012-01-18,Spurs,1591.2435,Magic,1607.9319,1,W,-16.6884,NaT
116708,2012,2012-01-20,Suns,1471.9752,Celtics,1531.3573,1,W,-59.3821,2 days
116716,2012,2012-01-20,Timberwolves,1387.9039,Clippers,1501.5731,1,W,-113.6692,7 days
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428,NaT
116725,2012,2012-01-20,Kings,1407.3601,Spurs,1598.2983,1,W,-190.9382,NaT
116753,2012,2012-01-22,Pacers,1531.6074,Lakers,1589.6423,1,W,-58.0349,16 days
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309,2 days
116786,2012,2012-01-24,Raptors,1316.9792,Suns,1484.3491,1,W,-167.3699,22 days
116791,2012,2012-01-25,Pacers,1520.5304,Bulls,1687.0676,1,W,-166.5372,3 days
116794,2012,2012-01-25,Timberwolves,1383.4609,Mavericks,1637.3203,1,W,-253.8594,5 days
...,...,...,...,...,...,...,...,...,...,...
125765,2015,2015-03-22,Pistons,1431.5424,Celtics,1464.0114,1,W,-32.4690,40 days
125784,2015,2015-03-23,Celtics,1450.1610,Nets,1464.8486,1,W,-14.6876,9 days
125794,2015,2015-03-23,Timberwolves,1328.3145,Jazz,1548.9791,1,W,-220.6646,43 days
125810,2015,2015-03-25,Nets,1441.8984,Hornets,1458.2108,1,W,-16.3124,4 days
125812,2015,2015-03-25,Sixers,1304.8269,Nuggets,1443.4148,1,W,-138.5879,75 days
125816,2015,2015-03-25,Lakers,1336.7478,Timberwolves,1339.5403,1,W,-2.7925,28 days
125825,2015,2015-03-25,Kings,1416.2379,Suns,1535.7609,1,W,-119.5230,14 days
125828,2015,2015-03-25,Bulls,1534.1361,Raptors,1536.2742,1,W,-2.1381,57 days
125833,2015,2015-03-25,Pacers,1457.8428,Wizards,1502.5140,1,W,-44.6712,42 days
125893,2015,2015-03-30,Celtics,1457.8212,Hornets,1464.8616,1,W,-7.0404,7 days
125927,2015,2015-04-01,Mavericks,1557.1041,Thunder,1616.4795,1,W,-59.3754,72 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952,60 days
125955,2015,2015-04-03,Magic,1285.8441,Timberwolves,1306.9417,1,W,-21.0976,81 days
125973,2015,2015-04-04,Wizards,1495.0571,Grizzlies,1584.9542,1,W,-89.8971,17 days
125975,2015,2015-04-04,Magic,1303.9574,Bucks,1474.3682,1,W,-170.4108,1 days
125980,2015,2015-04-04,Celtics,1467.6959,Raptors,1529.6567,1,W,-61.9608,5 days
126045,2015,2015-04-10,Celtics,1488.0189,Cavaliers,1677.1616,1,W,-189.1427,6 days
126072,2015,2015-04-11,Knicks,1242.4070,Magic,1325.8820,1,W,-83.4750,30 days
126075,2015,2015-04-11,Jazz,1541.8783,Trailblazers,1611.9924,1,W,-70.1141,39 days
126094,2015,2015-04-13,Knicks,1249.4366,Hawks,1618.9574,1,W,-369.5208,2 days
126158,2015,2015-04-18,Wizards,1508.7924,Raptors,1547.5518,1,W,-38.7594,14 days
126177,2015,2015-04-21,Wizards,1521.8462,Raptors,1534.4979,1,W,-12.6517,3 days
126208,2015,2015-04-26,Clippers,1694.7960,Spurs,1743.3424,1,W,-48.5464,58 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412,24 days
126229,2015,2015-04-30,Clippers,1701.9489,Spurs,1736.1896,1,W,-34.2407,4 days
126235,2015,2015-05-03,Wizards,1555.9502,Hawks,1604.0933,1,W,-48.1431,12 days
126238,2015,2015-05-04,Bulls,1612.1112,Cavaliers,1657.9097,1,W,-45.7985,40 days
126245,2015,2015-05-05,Grizzlies,1606.3979,Warriors,1789.2944,1,W,-182.8965,62 days
126277,2015,2015-05-14,Rockets,1639.3212,Clippers,1724.7617,1,W,-85.4405,60 days
126304,2015,2015-06-07,Cavaliers,1708.1705,Warriors,1806.2035,1,W,-98.0330,87 days

In [54]:
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,0,L,25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,0,L,39.5384
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,0,L,-37.7955

In [55]:
Bucks

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428,NaT
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309,2 days
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,1,W,-75.9018,3 days
117566,2012,2012-03-16,Bucks,1482.9812,Warriors,1509.2937,1,W,-26.3125,51 days
118455,2013,2012-11-02,Bucks,1501.1670,Celtics,1586.1121,1,W,-84.9451,231 days
118621,2013,2012-11-12,Bucks,1508.5000,Sixers,1551.6627,1,W,-43.1627,10 days
118818,2013,2012-11-26,Bucks,1512.1105,Bulls,1571.4832,1,W,-59.3727,14 days
119184,2013,2012-12-21,Bucks,1491.0122,Celtics,1538.3230,1,W,-47.3108,25 days
119458,2013,2013-01-09,Bucks,1479.9662,Bulls,1554.3053,1,W,-74.3391,19 days
120113,2013,2013-02-26,Bucks,1451.3185,Mavericks,1505.0323,1,W,-53.7138,48 days
120128,2013,2013-02-27,Bucks,1462.6779,Rockets,1603.8047,1,W,-141.1268,1 days
120283,2013,2013-03-09,Bucks,1478.1271,Warriors,1501.0728,1,W,-22.9457,10 days
120875,2013,2013-04-17,Bucks,1416.4331,Thunder,1736.2958,1,W,-319.8627,39 days
121095,2014,2013-11-01,Bucks,1442.7881,Celtics,1479.7850,1,W,-36.9969,198 days
121628,2014,2013-12-06,Bucks,1342.4575,Wizards,1480.4210,1,W,-137.9635,35 days
121674,2014,2013-12-10,Bucks,1344.5228,Bulls,1518.8411,1,W,-174.3183,4 days
121978,2014,2013-12-31,Bucks,1321.7959,Lakers,1440.5410,1,W,-118.7451,21 days
123790,2015,2014-11-04,Bucks,1321.8444,Pacers,1516.1642,1,W,-194.3198,308 days
123977,2015,2014-11-16,Bucks,1341.3673,Heat,1566.0238,1,W,-224.6565,12 days
124008,2015,2014-11-19,Bucks,1367.5092,Nets,1501.9500,1,W,-134.4408,3 days
124124,2015,2014-11-26,Bucks,1373.1659,Timberwolves,1448.8665,1,W,-75.7006,7 days
124410,2015,2014-12-15,Bucks,1422.4642,Suns,1524.2839,1,W,-101.8197,19 days
124454,2015,2014-12-18,Bucks,1429.1559,Kings,1438.7065,1,W,-9.5506,3 days
124554,2015,2014-12-26,Bucks,1421.7290,Hawks,1626.1963,1,W,-204.4673,8 days
124642,2015,2014-12-31,Bucks,1476.7334,Cavaliers,1493.2616,1,W,-16.5282,5 days
125135,2015,2015-02-02,Bucks,1526.1268,Raptors,1594.8175,1,W,-68.6907,33 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952,60 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412,24 days