In [1]:
import pandas as pd                    # data package
import matplotlib.pyplot as plt        # graphics module  
import datetime as dt                  # date and time module
import numpy as np                     # foundation for pandas

In [20]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"


nba = pd.read_csv(url)

In [21]:
new_name_list = ["Game Number", "ID", "League", "Repeat", "Year", "Game Date", "Season Game Number", "Playoffs", "Team Abv", "Franchise", "Points", "Elo_Start", "Elo End", "Win Equiv", "Opp Abv", "Opp Franchise", "Opp Score", "Opp_Elo_Start", "Opp Elo End", "Game Location", "Game Result", "Forecast", "Notes"]

nba.columns = new_name_list

In [22]:
nba.dtypes

Game Number             int64
ID                     object
League                 object
Repeat                  int64
Year                    int64
Game Date              object
Season Game Number      int64
Playoffs                int64
Team Abv               object
Franchise              object
Points                  int64
Elo_Start             float64
Elo End               float64
Win Equiv             float64
Opp Abv                object
Opp Franchise          object
Opp Score               int64
Opp_Elo_Start         float64
Opp Elo End           float64
Game Location          object
Game Result            object
Forecast              float64
Notes                  object
dtype: object

In [27]:
nba = nba[["Year", "Game Date", "Franchise", "Elo_Start","Opp Franchise", "Opp_Elo_Start", "Game Location", "Game Result"]]
nba = nba[nba["Year"]>=2012].copy()

In [28]:
nba['Game Date'] = pd.to_datetime(nba['Game Date'])
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,A,W
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,H,L
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,A,W
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,H,L
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,H,L

In [29]:
grp = nba.groupby("Franchise")

#This is good stuff. Groupby function essentially lets you split the dataframe into small dataframes within the larger data which
#you can call to do operations. So here I split the dataframe into each franchise which lets us not double count games and 
#minimize how much processing we need to use per team

In [30]:
grp.get_group("Bucks")

# so here im pulling the Bucks data specifically. May be worth paring the data down into 2000 onward

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,A,L
116317,2012,2011-12-27,Bucks,1486.5464,Timberwolves,1325.6040,H,W
116369,2012,2011-12-30,Bucks,1488.2310,Wizards,1355.1809,H,W
116413,2012,2012-01-02,Bucks,1494.1520,Nuggets,1617.1033,A,L
116438,2012,2012-01-03,Bucks,1491.5604,Jazz,1446.3878,A,L
116468,2012,2012-01-05,Bucks,1482.1578,Kings,1419.4415,A,L
116509,2012,2012-01-07,Bucks,1477.3094,Clippers,1488.2712,A,L
116521,2012,2012-01-08,Bucks,1472.4014,Suns,1508.9779,A,L
116550,2012,2012-01-10,Bucks,1464.4679,Spurs,1590.3909,H,W
116591,2012,2012-01-12,Bucks,1470.6021,Pistons,1371.5991,H,W
116598,2012,2012-01-13,Bucks,1474.6545,Mavericks,1623.7778,A,L
116662,2012,2012-01-16,Bucks,1468.3259,Sixers,1589.7847,A,L
116675,2012,2012-01-17,Bucks,1464.0076,Nuggets,1592.8120,H,L
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,A,W
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,A,W
116768,2012,2012-01-23,Bucks,1495.2693,Hawks,1553.7223,H,L
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,A,W
116823,2012,2012-01-27,Bucks,1500.3258,Bulls,1672.3512,A,L
116850,2012,2012-01-28,Bucks,1497.9380,Lakers,1584.8629,H,W
116882,2012,2012-01-30,Bucks,1508.4254,Pistons,1352.1716,H,W
116911,2012,2012-02-01,Bucks,1513.6620,Heat,1664.0696,H,W
116947,2012,2012-02-03,Bucks,1524.4858,Pistons,1335.2607,A,L
116969,2012,2012-02-04,Bucks,1512.2515,Bulls,1663.4376,H,L
117018,2012,2012-02-07,Bucks,1497.4327,Suns,1481.9071,H,L
117041,2012,2012-02-08,Bucks,1490.4011,Raptors,1352.5646,A,W
117055,2012,2012-02-10,Bucks,1497.0925,Cavaliers,1403.3882,A,W
117085,2012,2012-02-11,Bucks,1501.2285,Magic,1547.5184,H,L
117111,2012,2012-02-13,Bucks,1492.7474,Heat,1680.7656,H,L
117146,2012,2012-02-15,Bucks,1482.0483,Pelicans,1387.7799,H,L
117181,2012,2012-02-17,Bucks,1472.0707,Magic,1571.1252,A,L
...,...,...,...,...,...,...,...,...
125436,2015,2015-02-28,Bucks,1521.9550,Jazz,1491.6624,A,L
125475,2015,2015-03-03,Bucks,1515.5642,Nuggets,1353.3379,A,L
125485,2015,2015-03-04,Bucks,1501.9224,Warriors,1722.3337,A,L
125541,2015,2015-03-07,Bucks,1499.8068,Wizards,1461.2567,H,W
125576,2015,2015-03-09,Bucks,1504.1302,Pelicans,1487.6519,H,L
125603,2015,2015-03-11,Bucks,1488.0624,Magic,1314.7363,H,W
125613,2015,2015-03-12,Bucks,1490.2418,Pacers,1523.3566,A,L
125644,2015,2015-03-14,Bucks,1485.8071,Grizzlies,1591.5571,A,L
125694,2015,2015-03-17,Bucks,1480.8778,Pelicans,1507.8823,A,L
125708,2015,2015-03-18,Bucks,1478.4932,Spurs,1634.6464,H,L
125729,2015,2015-03-20,Bucks,1469.6437,Nets,1443.1869,A,L
125770,2015,2015-03-22,Bucks,1466.0321,Cavaliers,1645.6093,H,L
125800,2015,2015-03-24,Bucks,1454.9366,Heat,1481.4974,H,W
125834,2015,2015-03-26,Bucks,1457.9591,Pacers,1465.4594,H,W
125866,2015,2015-03-28,Bucks,1462.3160,Warriors,1768.2515,H,L
125890,2015,2015-03-30,Bucks,1457.3914,Hawks,1612.8688,A,L
125920,2015,2015-04-01,Bucks,1453.5896,Bulls,1554.4697,H,W
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,A,W
125974,2015,2015-04-04,Bucks,1474.3682,Magic,1303.9574,H,L
126022,2015,2015-04-08,Bucks,1456.6367,Cavaliers,1672.7987,H,L
126057,2015,2015-04-10,Bucks,1452.2738,Knicks,1248.3544,A,W
126088,2015,2015-04-12,Bucks,1458.2212,Nets,1500.6542,H,W
126112,2015,2015-04-13,Bucks,1472.6580,Sixers,1288.3954,A,W
126140,2015,2015-04-15,Bucks,1480.0674,Celtics,1543.8622,H,L
126152,2015,2015-04-18,Bucks,1472.0676,Bulls,1583.3149,A,L
126169,2015,2015-04-20,Bucks,1467.5160,Bulls,1587.8666,A,L
126187,2015,2015-04-23,Bucks,1463.8828,Bulls,1591.4998,H,L
126199,2015,2015-04-25,Bucks,1456.3048,Bulls,1599.0778,H,W
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,A,W
126226,2015,2015-04-30,Bucks,1476.9409,Bulls,1578.4417,H,L

In [31]:
Bucks = grp.get_group("Bucks")

In [32]:
def date_diff(Bucks):
    Bucks["Game Diff"] = Bucks["Game Date"].diff()
    return Bucks

#made a function to calculate the difference in games. Have to use .diff() for the individual teams. Can import this function into
# something bigger to go team by team

In [33]:
date_diff(Bucks)

# The function. The date difference is in the end of the dataframe

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Game Diff
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,A,L,NaT
116317,2012,2011-12-27,Bucks,1486.5464,Timberwolves,1325.6040,H,W,1 days
116369,2012,2011-12-30,Bucks,1488.2310,Wizards,1355.1809,H,W,3 days
116413,2012,2012-01-02,Bucks,1494.1520,Nuggets,1617.1033,A,L,3 days
116438,2012,2012-01-03,Bucks,1491.5604,Jazz,1446.3878,A,L,1 days
116468,2012,2012-01-05,Bucks,1482.1578,Kings,1419.4415,A,L,2 days
116509,2012,2012-01-07,Bucks,1477.3094,Clippers,1488.2712,A,L,2 days
116521,2012,2012-01-08,Bucks,1472.4014,Suns,1508.9779,A,L,1 days
116550,2012,2012-01-10,Bucks,1464.4679,Spurs,1590.3909,H,W,2 days
116591,2012,2012-01-12,Bucks,1470.6021,Pistons,1371.5991,H,W,2 days
116598,2012,2012-01-13,Bucks,1474.6545,Mavericks,1623.7778,A,L,1 days
116662,2012,2012-01-16,Bucks,1468.3259,Sixers,1589.7847,A,L,3 days
116675,2012,2012-01-17,Bucks,1464.0076,Nuggets,1592.8120,H,L,1 days
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,A,W,3 days
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,A,W,2 days
116768,2012,2012-01-23,Bucks,1495.2693,Hawks,1553.7223,H,L,1 days
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,A,W,2 days
116823,2012,2012-01-27,Bucks,1500.3258,Bulls,1672.3512,A,L,2 days
116850,2012,2012-01-28,Bucks,1497.9380,Lakers,1584.8629,H,W,1 days
116882,2012,2012-01-30,Bucks,1508.4254,Pistons,1352.1716,H,W,2 days
116911,2012,2012-02-01,Bucks,1513.6620,Heat,1664.0696,H,W,2 days
116947,2012,2012-02-03,Bucks,1524.4858,Pistons,1335.2607,A,L,2 days
116969,2012,2012-02-04,Bucks,1512.2515,Bulls,1663.4376,H,L,1 days
117018,2012,2012-02-07,Bucks,1497.4327,Suns,1481.9071,H,L,3 days
117041,2012,2012-02-08,Bucks,1490.4011,Raptors,1352.5646,A,W,1 days
117055,2012,2012-02-10,Bucks,1497.0925,Cavaliers,1403.3882,A,W,2 days
117085,2012,2012-02-11,Bucks,1501.2285,Magic,1547.5184,H,L,1 days
117111,2012,2012-02-13,Bucks,1492.7474,Heat,1680.7656,H,L,2 days
117146,2012,2012-02-15,Bucks,1482.0483,Pelicans,1387.7799,H,L,2 days
117181,2012,2012-02-17,Bucks,1472.0707,Magic,1571.1252,A,L,2 days
...,...,...,...,...,...,...,...,...,...
125436,2015,2015-02-28,Bucks,1521.9550,Jazz,1491.6624,A,L,1 days
125475,2015,2015-03-03,Bucks,1515.5642,Nuggets,1353.3379,A,L,3 days
125485,2015,2015-03-04,Bucks,1501.9224,Warriors,1722.3337,A,L,1 days
125541,2015,2015-03-07,Bucks,1499.8068,Wizards,1461.2567,H,W,3 days
125576,2015,2015-03-09,Bucks,1504.1302,Pelicans,1487.6519,H,L,2 days
125603,2015,2015-03-11,Bucks,1488.0624,Magic,1314.7363,H,W,2 days
125613,2015,2015-03-12,Bucks,1490.2418,Pacers,1523.3566,A,L,1 days
125644,2015,2015-03-14,Bucks,1485.8071,Grizzlies,1591.5571,A,L,2 days
125694,2015,2015-03-17,Bucks,1480.8778,Pelicans,1507.8823,A,L,3 days
125708,2015,2015-03-18,Bucks,1478.4932,Spurs,1634.6464,H,L,1 days
125729,2015,2015-03-20,Bucks,1469.6437,Nets,1443.1869,A,L,2 days
125770,2015,2015-03-22,Bucks,1466.0321,Cavaliers,1645.6093,H,L,2 days
125800,2015,2015-03-24,Bucks,1454.9366,Heat,1481.4974,H,W,2 days
125834,2015,2015-03-26,Bucks,1457.9591,Pacers,1465.4594,H,W,2 days
125866,2015,2015-03-28,Bucks,1462.3160,Warriors,1768.2515,H,L,2 days
125890,2015,2015-03-30,Bucks,1457.3914,Hawks,1612.8688,A,L,2 days
125920,2015,2015-04-01,Bucks,1453.5896,Bulls,1554.4697,H,W,2 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,A,W,2 days
125974,2015,2015-04-04,Bucks,1474.3682,Magic,1303.9574,H,L,1 days
126022,2015,2015-04-08,Bucks,1456.6367,Cavaliers,1672.7987,H,L,4 days
126057,2015,2015-04-10,Bucks,1452.2738,Knicks,1248.3544,A,W,2 days
126088,2015,2015-04-12,Bucks,1458.2212,Nets,1500.6542,H,W,2 days
126112,2015,2015-04-13,Bucks,1472.6580,Sixers,1288.3954,A,W,1 days
126140,2015,2015-04-15,Bucks,1480.0674,Celtics,1543.8622,H,L,2 days
126152,2015,2015-04-18,Bucks,1472.0676,Bulls,1583.3149,A,L,3 days
126169,2015,2015-04-20,Bucks,1467.5160,Bulls,1587.8666,A,L,2 days
126187,2015,2015-04-23,Bucks,1463.8828,Bulls,1591.4998,H,L,3 days
126199,2015,2015-04-25,Bucks,1456.3048,Bulls,1599.0778,H,W,2 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,A,W,2 days
126226,2015,2015-04-30,Bucks,1476.9409,Bulls,1578.4417,H,L,3 days

In [34]:
grp.apply(date_diff)

# Here im applying the function to the whole table by franchise. May try to clean this up and see what it looks like to see which
# method is the easiest.

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Game Diff
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,A,W,NaT
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,H,L,NaT
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,A,W,NaT
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,H,L,NaT
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,H,L,NaT
116283,2012,2011-12-25,Bulls,1632.1742,Lakers,1594.3787,A,W,NaT
116284,2012,2011-12-25,Celtics,1596.1472,Knicks,1482.5021,A,L,NaT
116285,2012,2011-12-25,Knicks,1482.5021,Celtics,1596.1472,H,W,NaT
116286,2012,2011-12-25,Magic,1582.5724,Thunder,1620.4620,A,L,NaT
116287,2012,2011-12-25,Thunder,1620.4620,Magic,1582.5724,H,W,NaT
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,A,L,NaT
116289,2012,2011-12-26,Hornets,1422.4645,Bucks,1490.1206,H,W,NaT
116290,2012,2011-12-26,Cavaliers,1369.9215,Raptors,1350.1757,H,L,NaT
116291,2012,2011-12-26,Raptors,1350.1757,Cavaliers,1369.9215,A,W,NaT
116292,2012,2011-12-26,Nuggets,1590.4297,Mavericks,1661.7070,A,W,NaT
116293,2012,2011-12-26,Mavericks,1661.7070,Nuggets,1590.4297,H,L,1 days
116294,2012,2011-12-26,Warriors,1469.1144,Bulls,1637.1813,H,W,1 days
116295,2012,2011-12-26,Bulls,1637.1813,Warriors,1469.1144,A,L,1 days
116296,2012,2011-12-26,Pacers,1473.9299,Pistons,1423.3777,H,W,NaT
116297,2012,2011-12-26,Pistons,1423.3777,Pacers,1473.9299,A,L,NaT
116298,2012,2011-12-26,Thunder,1625.5542,Timberwolves,1328.2598,A,W,1 days
116299,2012,2011-12-26,Timberwolves,1328.2598,Thunder,1625.5542,H,L,NaT
116300,2012,2011-12-26,Magic,1577.4802,Rockets,1554.6104,H,W,1 days
116301,2012,2011-12-26,Rockets,1554.6104,Magic,1577.4802,A,L,NaT
116302,2012,2011-12-26,Pelicans,1501.1958,Suns,1496.3531,A,W,NaT
116303,2012,2011-12-26,Suns,1496.3531,Pelicans,1501.1958,H,L,NaT
116304,2012,2011-12-26,Sixers,1517.6923,Trailblazers,1537.8375,A,L,NaT
116305,2012,2011-12-26,Trailblazers,1537.8375,Sixers,1517.6923,H,W,NaT
116306,2012,2011-12-26,Lakers,1589.3716,Kings,1441.9906,A,L,1 days
116307,2012,2011-12-26,Kings,1441.9906,Lakers,1589.3716,H,W,NaT
...,...,...,...,...,...,...,...,...,...
126284,2015,2015-05-19,Warriors,1787.3469,Rockets,1669.5398,H,W,4 days
126285,2015,2015-05-19,Rockets,1669.5398,Warriors,1787.3469,A,L,2 days
126286,2015,2015-05-20,Hawks,1613.9390,Cavaliers,1678.9756,H,L,5 days
126287,2015,2015-05-20,Cavaliers,1678.9756,Hawks,1613.9390,A,W,6 days
126288,2015,2015-05-21,Warriors,1789.7388,Rockets,1667.1479,H,W,2 days
126289,2015,2015-05-21,Rockets,1667.1479,Warriors,1789.7388,A,L,2 days
126290,2015,2015-05-22,Hawks,1603.6616,Cavaliers,1689.2529,H,L,2 days
126291,2015,2015-05-22,Cavaliers,1689.2529,Hawks,1603.6616,A,W,2 days
126292,2015,2015-05-23,Warriors,1791.2300,Rockets,1665.6567,A,W,2 days
126293,2015,2015-05-23,Rockets,1665.6567,Warriors,1791.2300,H,L,2 days
126294,2015,2015-05-24,Cavaliers,1701.5128,Hawks,1591.4017,H,W,2 days
126295,2015,2015-05-24,Hawks,1591.4017,Cavaliers,1701.5128,A,L,2 days
126296,2015,2015-05-25,Warriors,1813.4543,Rockets,1643.4324,A,L,2 days
126297,2015,2015-05-25,Rockets,1643.4324,Warriors,1813.4543,H,W,2 days
126298,2015,2015-05-26,Cavaliers,1703.7124,Hawks,1589.2021,H,W,2 days
126299,2015,2015-05-26,Hawks,1589.2021,Cavaliers,1703.7124,A,L,2 days
126300,2015,2015-05-27,Rockets,1658.9934,Warriors,1797.8933,A,L,2 days
126301,2015,2015-05-27,Warriors,1797.8933,Rockets,1658.9934,H,W,2 days
126302,2015,2015-06-04,Cavaliers,1712.1232,Warriors,1802.2509,A,L,9 days
126303,2015,2015-06-04,Warriors,1802.2509,Cavaliers,1712.1232,H,W,8 days
126304,2015,2015-06-07,Cavaliers,1708.1705,Warriors,1806.2035,A,W,3 days
126305,2015,2015-06-07,Warriors,1806.2035,Cavaliers,1708.1705,H,L,3 days
126306,2015,2015-06-09,Warriors,1797.5032,Cavaliers,1716.8708,A,L,2 days
126307,2015,2015-06-09,Cavaliers,1716.8708,Warriors,1797.5032,H,W,2 days
126308,2015,2015-06-11,Warriors,1790.9591,Cavaliers,1723.4149,A,W,2 days
126309,2015,2015-06-11,Cavaliers,1723.4149,Warriors,1790.9591,H,L,2 days
126310,2015,2015-06-14,Warriors,1809.9791,Cavaliers,1704.3949,H,W,3 days
126311,2015,2015-06-14,Cavaliers,1704.3949,Warriors,1809.9791,A,L,3 days
126312,2015,2015-06-16,Cavaliers,1700.7391,Warriors,1813.6349,H,L,2 days
126313,2015,2015-06-16,Warriors,1813.6349,Cavaliers,1700.7391,A,W,2 days

In [35]:
# converting H and A into 1 and 0 for mapping

nba["Game Location"] = nba["Game Location"].str.replace("A","1")
nba["Game Location"] = nba["Game Location"].str.replace("H","0")

In [36]:
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,0,L
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,0,L
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,0,L