In [72]:
import pandas as pd                    # data package
import matplotlib.pyplot as plt        # graphics module  
import datetime as dt                  # date and time module
import numpy as np                     # foundation for pandas

In [73]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"


nba = pd.read_csv(url)

In [74]:
new_name_list = ["Game Number", "ID", "League", "Repeat", "Year", "Game Date", "Season Game Number", "Playoffs", "Team Abv", "Franchise", "Points", "Elo_Start", "Elo End", "Win Equiv", "Opp Abv", "Opp Franchise", "Opp Score", "Opp_Elo_Start", "Opp Elo End", "Game Location", "Game Result", "Forecast", "Notes"]

nba.columns = new_name_list

In [75]:
nba.dtypes

Game Number             int64
ID                     object
League                 object
Repeat                  int64
Year                    int64
Game Date              object
Season Game Number      int64
Playoffs                int64
Team Abv               object
Franchise              object
Points                  int64
Elo_Start             float64
Elo End               float64
Win Equiv             float64
Opp Abv                object
Opp Franchise          object
Opp Score               int64
Opp_Elo_Start         float64
Opp Elo End           float64
Game Location          object
Game Result            object
Forecast              float64
Notes                  object
dtype: object

In [76]:
nba = nba[["Year", "Game Date", "Franchise", "Elo_Start","Opp Franchise", "Opp_Elo_Start", "Game Location", "Game Result"]]
nba = nba[nba["Year"]>=2012].copy()

In [77]:
nba["Elo Difference"] = nba.Elo_Start - nba.Opp_Elo_Start

In [78]:
nba['Game Date'] = pd.to_datetime(nba['Game Date'])
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,A,W,-25.8009
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,H,L,25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,A,W,-39.5384
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,H,L,39.5384
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,H,L,-37.7955

In [79]:
# converting H and A into 1 and 0 for mapping

nba["Game Location"] = nba["Game Location"].str.replace("A","1")
nba["Game Location"] = nba["Game Location"].str.replace("H","0")

# 1 is home
# 0 is away

In [80]:
nba = nba[nba["Game Location"] == 1].copy()

In [86]:
nba = nba[nba["Game Result"] == W].copy()

NameError: name 'W' is not defined

In [82]:
nba.head(5)

Empty DataFrame
Columns: [Year, Game Date, Franchise, Elo_Start, Opp Franchise, Opp_Elo_Start, Game Location, Game Result, Elo Difference]
Index: []

In [83]:
grp = nba.groupby("Franchise")

#This is good stuff. Groupby function essentially lets you split the dataframe into small dataframes within the larger data which
#you can call to do operations. So here I split the dataframe into each franchise which lets us not double count games and 
#minimize how much processing we need to use per team

In [84]:
grp.get_group("Bucks")

# so here im pulling the Bucks data specifically. May be worth paring the data down into 2000 onward

KeyError: 'Bucks'

In [85]:
Bucks = grp.get_group("Bucks")

KeyError: 'Bucks'

In [43]:
def date_diff(Bucks):
    Bucks["Game Diff"] = Bucks["Game Date"].diff()
    return Bucks

#made a function to calculate the difference in games. Have to use .diff() for the individual teams. Can import this function into
# something bigger to go team by team

In [44]:
date_diff(Bucks)

# The function. The date difference is in the end of the dataframe

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,1,L,67.6561,NaT
116317,2012,2011-12-27,Bucks,1486.5464,Timberwolves,1325.6040,0,W,160.9424,1 days
116369,2012,2011-12-30,Bucks,1488.2310,Wizards,1355.1809,0,W,133.0501,3 days
116413,2012,2012-01-02,Bucks,1494.1520,Nuggets,1617.1033,1,L,-122.9513,3 days
116438,2012,2012-01-03,Bucks,1491.5604,Jazz,1446.3878,1,L,45.1726,1 days
116468,2012,2012-01-05,Bucks,1482.1578,Kings,1419.4415,1,L,62.7163,2 days
116509,2012,2012-01-07,Bucks,1477.3094,Clippers,1488.2712,1,L,-10.9618,2 days
116521,2012,2012-01-08,Bucks,1472.4014,Suns,1508.9779,1,L,-36.5765,1 days
116550,2012,2012-01-10,Bucks,1464.4679,Spurs,1590.3909,0,W,-125.9230,2 days
116591,2012,2012-01-12,Bucks,1470.6021,Pistons,1371.5991,0,W,99.0030,2 days
116598,2012,2012-01-13,Bucks,1474.6545,Mavericks,1623.7778,1,L,-149.1233,1 days
116662,2012,2012-01-16,Bucks,1468.3259,Sixers,1589.7847,1,L,-121.4588,3 days
116675,2012,2012-01-17,Bucks,1464.0076,Nuggets,1592.8120,0,L,-128.8044,1 days
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428,3 days
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309,2 days
116768,2012,2012-01-23,Bucks,1495.2693,Hawks,1553.7223,0,L,-58.4530,1 days
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,1,W,-75.9018,2 days
116823,2012,2012-01-27,Bucks,1500.3258,Bulls,1672.3512,1,L,-172.0254,2 days
116850,2012,2012-01-28,Bucks,1497.9380,Lakers,1584.8629,0,W,-86.9249,1 days
116882,2012,2012-01-30,Bucks,1508.4254,Pistons,1352.1716,0,W,156.2538,2 days
116911,2012,2012-02-01,Bucks,1513.6620,Heat,1664.0696,0,W,-150.4076,2 days
116947,2012,2012-02-03,Bucks,1524.4858,Pistons,1335.2607,1,L,189.2251,2 days
116969,2012,2012-02-04,Bucks,1512.2515,Bulls,1663.4376,0,L,-151.1861,1 days
117018,2012,2012-02-07,Bucks,1497.4327,Suns,1481.9071,0,L,15.5256,3 days
117041,2012,2012-02-08,Bucks,1490.4011,Raptors,1352.5646,1,W,137.8365,1 days
117055,2012,2012-02-10,Bucks,1497.0925,Cavaliers,1403.3882,1,W,93.7043,2 days
117085,2012,2012-02-11,Bucks,1501.2285,Magic,1547.5184,0,L,-46.2899,1 days
117111,2012,2012-02-13,Bucks,1492.7474,Heat,1680.7656,0,L,-188.0182,2 days
117146,2012,2012-02-15,Bucks,1482.0483,Pelicans,1387.7799,0,L,94.2684,2 days
117181,2012,2012-02-17,Bucks,1472.0707,Magic,1571.1252,1,L,-99.0545,2 days
...,...,...,...,...,...,...,...,...,...,...
125436,2015,2015-02-28,Bucks,1521.9550,Jazz,1491.6624,1,L,30.2926,1 days
125475,2015,2015-03-03,Bucks,1515.5642,Nuggets,1353.3379,1,L,162.2263,3 days
125485,2015,2015-03-04,Bucks,1501.9224,Warriors,1722.3337,1,L,-220.4113,1 days
125541,2015,2015-03-07,Bucks,1499.8068,Wizards,1461.2567,0,W,38.5501,3 days
125576,2015,2015-03-09,Bucks,1504.1302,Pelicans,1487.6519,0,L,16.4783,2 days
125603,2015,2015-03-11,Bucks,1488.0624,Magic,1314.7363,0,W,173.3261,2 days
125613,2015,2015-03-12,Bucks,1490.2418,Pacers,1523.3566,1,L,-33.1148,1 days
125644,2015,2015-03-14,Bucks,1485.8071,Grizzlies,1591.5571,1,L,-105.7500,2 days
125694,2015,2015-03-17,Bucks,1480.8778,Pelicans,1507.8823,1,L,-27.0045,3 days
125708,2015,2015-03-18,Bucks,1478.4932,Spurs,1634.6464,0,L,-156.1532,1 days
125729,2015,2015-03-20,Bucks,1469.6437,Nets,1443.1869,1,L,26.4568,2 days
125770,2015,2015-03-22,Bucks,1466.0321,Cavaliers,1645.6093,0,L,-179.5772,2 days
125800,2015,2015-03-24,Bucks,1454.9366,Heat,1481.4974,0,W,-26.5608,2 days
125834,2015,2015-03-26,Bucks,1457.9591,Pacers,1465.4594,0,W,-7.5003,2 days
125866,2015,2015-03-28,Bucks,1462.3160,Warriors,1768.2515,0,L,-305.9355,2 days
125890,2015,2015-03-30,Bucks,1457.3914,Hawks,1612.8688,1,L,-155.4774,2 days
125920,2015,2015-04-01,Bucks,1453.5896,Bulls,1554.4697,0,W,-100.8801,2 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952,2 days
125974,2015,2015-04-04,Bucks,1474.3682,Magic,1303.9574,0,L,170.4108,1 days
126022,2015,2015-04-08,Bucks,1456.6367,Cavaliers,1672.7987,0,L,-216.1620,4 days
126057,2015,2015-04-10,Bucks,1452.2738,Knicks,1248.3544,1,W,203.9194,2 days
126088,2015,2015-04-12,Bucks,1458.2212,Nets,1500.6542,0,W,-42.4330,2 days
126112,2015,2015-04-13,Bucks,1472.6580,Sixers,1288.3954,1,W,184.2626,1 days
126140,2015,2015-04-15,Bucks,1480.0674,Celtics,1543.8622,0,L,-63.7948,2 days
126152,2015,2015-04-18,Bucks,1472.0676,Bulls,1583.3149,1,L,-111.2473,3 days
126169,2015,2015-04-20,Bucks,1467.5160,Bulls,1587.8666,1,L,-120.3506,2 days
126187,2015,2015-04-23,Bucks,1463.8828,Bulls,1591.4998,0,L,-127.6170,3 days
126199,2015,2015-04-25,Bucks,1456.3048,Bulls,1599.0778,0,W,-142.7730,2 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412,2 days
126226,2015,2015-04-30,Bucks,1476.9409,Bulls,1578.4417,0,L,-101.5008,3 days

In [45]:
grp.apply(date_diff)

# Here im applying the function to the whole table by franchise. May try to clean this up and see what it looks like to see which
# method is the easiest.

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009,NaT
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,0,L,25.8009,NaT
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384,NaT
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,0,L,39.5384,NaT
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,0,L,-37.7955,NaT
116283,2012,2011-12-25,Bulls,1632.1742,Lakers,1594.3787,1,W,37.7955,NaT
116284,2012,2011-12-25,Celtics,1596.1472,Knicks,1482.5021,1,L,113.6451,NaT
116285,2012,2011-12-25,Knicks,1482.5021,Celtics,1596.1472,0,W,-113.6451,NaT
116286,2012,2011-12-25,Magic,1582.5724,Thunder,1620.4620,1,L,-37.8896,NaT
116287,2012,2011-12-25,Thunder,1620.4620,Magic,1582.5724,0,W,37.8896,NaT
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,1,L,67.6561,NaT
116289,2012,2011-12-26,Hornets,1422.4645,Bucks,1490.1206,0,W,-67.6561,NaT
116290,2012,2011-12-26,Cavaliers,1369.9215,Raptors,1350.1757,0,L,19.7458,NaT
116291,2012,2011-12-26,Raptors,1350.1757,Cavaliers,1369.9215,1,W,-19.7458,NaT
116292,2012,2011-12-26,Nuggets,1590.4297,Mavericks,1661.7070,1,W,-71.2773,NaT
116293,2012,2011-12-26,Mavericks,1661.7070,Nuggets,1590.4297,0,L,71.2773,1 days
116294,2012,2011-12-26,Warriors,1469.1144,Bulls,1637.1813,0,W,-168.0669,1 days
116295,2012,2011-12-26,Bulls,1637.1813,Warriors,1469.1144,1,L,168.0669,1 days
116296,2012,2011-12-26,Pacers,1473.9299,Pistons,1423.3777,0,W,50.5522,NaT
116297,2012,2011-12-26,Pistons,1423.3777,Pacers,1473.9299,1,L,-50.5522,NaT
116298,2012,2011-12-26,Thunder,1625.5542,Timberwolves,1328.2598,1,W,297.2944,1 days
116299,2012,2011-12-26,Timberwolves,1328.2598,Thunder,1625.5542,0,L,-297.2944,NaT
116300,2012,2011-12-26,Magic,1577.4802,Rockets,1554.6104,0,W,22.8698,1 days
116301,2012,2011-12-26,Rockets,1554.6104,Magic,1577.4802,1,L,-22.8698,NaT
116302,2012,2011-12-26,Pelicans,1501.1958,Suns,1496.3531,1,W,4.8427,NaT
116303,2012,2011-12-26,Suns,1496.3531,Pelicans,1501.1958,0,L,-4.8427,NaT
116304,2012,2011-12-26,Sixers,1517.6923,Trailblazers,1537.8375,1,L,-20.1452,NaT
116305,2012,2011-12-26,Trailblazers,1537.8375,Sixers,1517.6923,0,W,20.1452,NaT
116306,2012,2011-12-26,Lakers,1589.3716,Kings,1441.9906,1,L,147.3810,1 days
116307,2012,2011-12-26,Kings,1441.9906,Lakers,1589.3716,0,W,-147.3810,NaT
...,...,...,...,...,...,...,...,...,...,...
126284,2015,2015-05-19,Warriors,1787.3469,Rockets,1669.5398,0,W,117.8071,4 days
126285,2015,2015-05-19,Rockets,1669.5398,Warriors,1787.3469,1,L,-117.8071,2 days
126286,2015,2015-05-20,Hawks,1613.9390,Cavaliers,1678.9756,0,L,-65.0366,5 days
126287,2015,2015-05-20,Cavaliers,1678.9756,Hawks,1613.9390,1,W,65.0366,6 days
126288,2015,2015-05-21,Warriors,1789.7388,Rockets,1667.1479,0,W,122.5909,2 days
126289,2015,2015-05-21,Rockets,1667.1479,Warriors,1789.7388,1,L,-122.5909,2 days
126290,2015,2015-05-22,Hawks,1603.6616,Cavaliers,1689.2529,0,L,-85.5913,2 days
126291,2015,2015-05-22,Cavaliers,1689.2529,Hawks,1603.6616,1,W,85.5913,2 days
126292,2015,2015-05-23,Warriors,1791.2300,Rockets,1665.6567,1,W,125.5733,2 days
126293,2015,2015-05-23,Rockets,1665.6567,Warriors,1791.2300,0,L,-125.5733,2 days
126294,2015,2015-05-24,Cavaliers,1701.5128,Hawks,1591.4017,0,W,110.1111,2 days
126295,2015,2015-05-24,Hawks,1591.4017,Cavaliers,1701.5128,1,L,-110.1111,2 days
126296,2015,2015-05-25,Warriors,1813.4543,Rockets,1643.4324,1,L,170.0219,2 days
126297,2015,2015-05-25,Rockets,1643.4324,Warriors,1813.4543,0,W,-170.0219,2 days
126298,2015,2015-05-26,Cavaliers,1703.7124,Hawks,1589.2021,0,W,114.5103,2 days
126299,2015,2015-05-26,Hawks,1589.2021,Cavaliers,1703.7124,1,L,-114.5103,2 days
126300,2015,2015-05-27,Rockets,1658.9934,Warriors,1797.8933,1,L,-138.8999,2 days
126301,2015,2015-05-27,Warriors,1797.8933,Rockets,1658.9934,0,W,138.8999,2 days
126302,2015,2015-06-04,Cavaliers,1712.1232,Warriors,1802.2509,1,L,-90.1277,9 days
126303,2015,2015-06-04,Warriors,1802.2509,Cavaliers,1712.1232,0,W,90.1277,8 days
126304,2015,2015-06-07,Cavaliers,1708.1705,Warriors,1806.2035,1,W,-98.0330,3 days
126305,2015,2015-06-07,Warriors,1806.2035,Cavaliers,1708.1705,0,L,98.0330,3 days
126306,2015,2015-06-09,Warriors,1797.5032,Cavaliers,1716.8708,1,L,80.6324,2 days
126307,2015,2015-06-09,Cavaliers,1716.8708,Warriors,1797.5032,0,W,-80.6324,2 days
126308,2015,2015-06-11,Warriors,1790.9591,Cavaliers,1723.4149,1,W,67.5442,2 days
126309,2015,2015-06-11,Cavaliers,1723.4149,Warriors,1790.9591,0,L,-67.5442,2 days
126310,2015,2015-06-14,Warriors,1809.9791,Cavaliers,1704.3949,0,W,105.5842,3 days
126311,2015,2015-06-14,Cavaliers,1704.3949,Warriors,1809.9791,1,L,-105.5842,3 days
126312,2015,2015-06-16,Cavaliers,1700.7391,Warriors,1813.6349,0,L,-112.8958,2 days
126313,2015,2015-06-16,Warriors,1813.6349,Cavaliers,1700.7391,1,W,112.8958,2 days

In [47]:
nba.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,0,L,25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,0,L,39.5384
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,0,L,-37.7955

In [66]:
Bucks

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference,Game Diff
116288,2012,2011-12-26,Bucks,1490.1206,Hornets,1422.4645,1,L,67.6561,NaT
116317,2012,2011-12-27,Bucks,1486.5464,Timberwolves,1325.6040,0,W,160.9424,1 days
116369,2012,2011-12-30,Bucks,1488.2310,Wizards,1355.1809,0,W,133.0501,3 days
116413,2012,2012-01-02,Bucks,1494.1520,Nuggets,1617.1033,1,L,-122.9513,3 days
116438,2012,2012-01-03,Bucks,1491.5604,Jazz,1446.3878,1,L,45.1726,1 days
116468,2012,2012-01-05,Bucks,1482.1578,Kings,1419.4415,1,L,62.7163,2 days
116509,2012,2012-01-07,Bucks,1477.3094,Clippers,1488.2712,1,L,-10.9618,2 days
116521,2012,2012-01-08,Bucks,1472.4014,Suns,1508.9779,1,L,-36.5765,1 days
116550,2012,2012-01-10,Bucks,1464.4679,Spurs,1590.3909,0,W,-125.9230,2 days
116591,2012,2012-01-12,Bucks,1470.6021,Pistons,1371.5991,0,W,99.0030,2 days
116598,2012,2012-01-13,Bucks,1474.6545,Mavericks,1623.7778,1,L,-149.1233,1 days
116662,2012,2012-01-16,Bucks,1468.3259,Sixers,1589.7847,1,L,-121.4588,3 days
116675,2012,2012-01-17,Bucks,1464.0076,Nuggets,1592.8120,0,L,-128.8044,1 days
116718,2012,2012-01-20,Bucks,1454.7029,Knicks,1473.4457,1,W,-18.7428,3 days
116754,2012,2012-01-22,Bucks,1473.5911,Heat,1671.9220,1,W,-198.3309,2 days
116768,2012,2012-01-23,Bucks,1495.2693,Hawks,1553.7223,0,L,-58.4530,1 days
116801,2012,2012-01-25,Bucks,1487.1237,Rockets,1563.0255,1,W,-75.9018,2 days
116823,2012,2012-01-27,Bucks,1500.3258,Bulls,1672.3512,1,L,-172.0254,2 days
116850,2012,2012-01-28,Bucks,1497.9380,Lakers,1584.8629,0,W,-86.9249,1 days
116882,2012,2012-01-30,Bucks,1508.4254,Pistons,1352.1716,0,W,156.2538,2 days
116911,2012,2012-02-01,Bucks,1513.6620,Heat,1664.0696,0,W,-150.4076,2 days
116947,2012,2012-02-03,Bucks,1524.4858,Pistons,1335.2607,1,L,189.2251,2 days
116969,2012,2012-02-04,Bucks,1512.2515,Bulls,1663.4376,0,L,-151.1861,1 days
117018,2012,2012-02-07,Bucks,1497.4327,Suns,1481.9071,0,L,15.5256,3 days
117041,2012,2012-02-08,Bucks,1490.4011,Raptors,1352.5646,1,W,137.8365,1 days
117055,2012,2012-02-10,Bucks,1497.0925,Cavaliers,1403.3882,1,W,93.7043,2 days
117085,2012,2012-02-11,Bucks,1501.2285,Magic,1547.5184,0,L,-46.2899,1 days
117111,2012,2012-02-13,Bucks,1492.7474,Heat,1680.7656,0,L,-188.0182,2 days
117146,2012,2012-02-15,Bucks,1482.0483,Pelicans,1387.7799,0,L,94.2684,2 days
117181,2012,2012-02-17,Bucks,1472.0707,Magic,1571.1252,1,L,-99.0545,2 days
...,...,...,...,...,...,...,...,...,...,...
125436,2015,2015-02-28,Bucks,1521.9550,Jazz,1491.6624,1,L,30.2926,1 days
125475,2015,2015-03-03,Bucks,1515.5642,Nuggets,1353.3379,1,L,162.2263,3 days
125485,2015,2015-03-04,Bucks,1501.9224,Warriors,1722.3337,1,L,-220.4113,1 days
125541,2015,2015-03-07,Bucks,1499.8068,Wizards,1461.2567,0,W,38.5501,3 days
125576,2015,2015-03-09,Bucks,1504.1302,Pelicans,1487.6519,0,L,16.4783,2 days
125603,2015,2015-03-11,Bucks,1488.0624,Magic,1314.7363,0,W,173.3261,2 days
125613,2015,2015-03-12,Bucks,1490.2418,Pacers,1523.3566,1,L,-33.1148,1 days
125644,2015,2015-03-14,Bucks,1485.8071,Grizzlies,1591.5571,1,L,-105.7500,2 days
125694,2015,2015-03-17,Bucks,1480.8778,Pelicans,1507.8823,1,L,-27.0045,3 days
125708,2015,2015-03-18,Bucks,1478.4932,Spurs,1634.6464,0,L,-156.1532,1 days
125729,2015,2015-03-20,Bucks,1469.6437,Nets,1443.1869,1,L,26.4568,2 days
125770,2015,2015-03-22,Bucks,1466.0321,Cavaliers,1645.6093,0,L,-179.5772,2 days
125800,2015,2015-03-24,Bucks,1454.9366,Heat,1481.4974,0,W,-26.5608,2 days
125834,2015,2015-03-26,Bucks,1457.9591,Pacers,1465.4594,0,W,-7.5003,2 days
125866,2015,2015-03-28,Bucks,1462.3160,Warriors,1768.2515,0,L,-305.9355,2 days
125890,2015,2015-03-30,Bucks,1457.3914,Hawks,1612.8688,1,L,-155.4774,2 days
125920,2015,2015-04-01,Bucks,1453.5896,Bulls,1554.4697,0,W,-100.8801,2 days
125943,2015,2015-04-03,Bucks,1459.9344,Celtics,1482.1296,1,W,-22.1952,2 days
125974,2015,2015-04-04,Bucks,1474.3682,Magic,1303.9574,0,L,170.4108,1 days
126022,2015,2015-04-08,Bucks,1456.6367,Cavaliers,1672.7987,0,L,-216.1620,4 days
126057,2015,2015-04-10,Bucks,1452.2738,Knicks,1248.3544,1,W,203.9194,2 days
126088,2015,2015-04-12,Bucks,1458.2212,Nets,1500.6542,0,W,-42.4330,2 days
126112,2015,2015-04-13,Bucks,1472.6580,Sixers,1288.3954,1,W,184.2626,1 days
126140,2015,2015-04-15,Bucks,1480.0674,Celtics,1543.8622,0,L,-63.7948,2 days
126152,2015,2015-04-18,Bucks,1472.0676,Bulls,1583.3149,1,L,-111.2473,3 days
126169,2015,2015-04-20,Bucks,1467.5160,Bulls,1587.8666,1,L,-120.3506,2 days
126187,2015,2015-04-23,Bucks,1463.8828,Bulls,1591.4998,0,L,-127.6170,3 days
126199,2015,2015-04-25,Bucks,1456.3048,Bulls,1599.0778,0,W,-142.7730,2 days
126214,2015,2015-04-27,Bucks,1461.9207,Bulls,1593.4619,1,W,-131.5412,2 days
126226,2015,2015-04-30,Bucks,1476.9409,Bulls,1578.4417,0,L,-101.5008,3 days

In [67]:
winlose = nba.groupby("Game Result")

In [69]:
winlose.head(5)

,Year,Game Date,Franchise,Elo_Start,Opp Franchise,Opp_Elo_Start,Game Location,Game Result,Elo Difference
116278,2012,2011-12-25,Heat,1652.3988,Mavericks,1678.1997,1,W,-25.8009
116279,2012,2011-12-25,Mavericks,1678.1997,Heat,1652.3988,0,L,25.8009
116280,2012,2011-12-25,Clippers,1454.1561,Warriors,1493.6945,1,W,-39.5384
116281,2012,2011-12-25,Warriors,1493.6945,Clippers,1454.1561,0,L,39.5384
116282,2012,2011-12-25,Lakers,1594.3787,Bulls,1632.1742,0,L,-37.7955
116283,2012,2011-12-25,Bulls,1632.1742,Lakers,1594.3787,1,W,37.7955
116284,2012,2011-12-25,Celtics,1596.1472,Knicks,1482.5021,1,L,113.6451
116285,2012,2011-12-25,Knicks,1482.5021,Celtics,1596.1472,0,W,-113.6451
116286,2012,2011-12-25,Magic,1582.5724,Thunder,1620.4620,1,L,-37.8896
116287,2012,2011-12-25,Thunder,1620.4620,Magic,1582.5724,0,W,37.8896

In [ ]:
def upsetwin():
    if "Game Location" == 1 and "Elo Difference" < 0
    upsetwin = []
    upsetwin.append